.navbarBrand {
    font-size: 30px;
}

.navbarBrand::first-letter {
    color: #119aac;
}

.navBarLink {
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}

.btnStyle {
    width: 3rem;
    height: 3rem;
}

.flex {
    display: flex;
    gap: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d9f92;
}

li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #feffff;
}