.error-page{
    padding:40px 0; background:#fff; font-family: 'Arvo', serif;
    padding-bottom: 20.4%;
}

.error-page img{ 
    width:100%;
}

.not-found h1{
    font-size: 80px;
 }
 
.font-error h3{
    font-size:80px;
}
			 
.back-to-home{			 
    padding: 20px 20px;
    background: #39ac3100;
    margin: 20px;
    display: inline-block;
    font-size: 25px
}

.contant-404{ 
    margin-top:-80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}